<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/profile.css">

    <title>Profile: <%= id %></title>
</head>
<body>
  <div class="content-layer">
  <div class="banner" style="background: url('/profile/<%= id %>/banner.png') center/cover no-repeat;">
    <div class="banner">
        <div>
            <img id="profileImg" src="/profile/<%= id %>/profile.png" alt="Profile Image">
        </div>
    </div>
  </div>


<!-- Info Section -->
  <div class="info-section">
          <% let title = titleLines[0].split('.'); %>
          <div class="info-title">
          <br><h1 style="text-align: center;"><%= title[0] %></h1></br>
          </div>

          <div class="container">
            <div class="info-content left-div">
              <div class="section">
                
                <% if (titleLines.length > 1) { %>
                  <% let contentParagraphs = titleLines[1].split('. '); %>
                  <p class="line-spacing"><%- contentParagraphs[0] + '.' %></p>
                  <% if (contentParagraphs.length > 1) { %>
                    <p class="line-spacing"><%- contentParagraphs.slice(1).join('. ') %></p>
                  <% } %>
                <% } %>

                    
          <% for (let i = 0; i < bioLines.length; i++) { %>
            <br>
            <div class="row">
                <% let colonIndex = bioLines[i].indexOf(':'); %>
                <div class="col">
                    <strong style="font-size: larger;"><%- bioLines[i].substring(0, colonIndex).trim() %></strong>
                </div>
                <div class="col">
                    <% if (i === bioLines.length - 1) { %>
                        <ul>
                            <% let siblings = bioLines[i].substring(colonIndex + 1).split(','); %>
                            <% siblings.forEach(function(sibling) { %>
                                <li><%- sibling.trim() %></li>
                            <% }); %>
                        </ul>
                    <% } else { %>
                        <%- bioLines[i].substring(colonIndex + 1).trim() %>
                    <% } %>
                </div>
            </div>
            <br>
        <% } %>
          
          </div>
        </div>


              <div class="image-block">
                    <img src="/profile/<%= id %>/image1.png" alt="Profile Image" />
              </div>
        
          </div>
  </div>
        
  

  

  
  
  
  
 <!-- Endorsement Section -->
 <div class=" endorsement-section ">
  <div class=" display-flex margin-around ">
           <!-- Left Side (Profile 2 Image) -->
      <div class="center-in-div left-div ">
          <img src="/profile/<%= id %>/image2.png" alt="Profile 2 Image" />
      </div>
       <!-- Right Side (Endorsements) -->
      <div class=" right-div">
      <div class="quote">
          <h2>ENDORSEMENTS</h2>
      </div>
      <% for (let i = 0; i < texts.length; i++) { %>
        <div class="quote">
            <div class="white-box">
                <p><%= texts[i] %></p>
                <hr />
                <span><%= authors[i] %></span>
            </div>
        </div>
        <% } %>
    </div>
</div>
</div>
 
  



<!-- Squad Debugging Whole the Meet -->
<div class="friends-section">
  <div>
    <h2>Squad Debugging Whole the Meet</h2>
  </div>

  <div class="friends-block">
        <a href="/profile/?id=jessy">
        <img src='/profile/jessy/profile.png' alt="Profile Image" >
        </a>

        <a href="/profile/?id=livlig">
        <img src="/profile/livlig/profile.png" alt="Profile Image" >
        </a>
     
        <a href="/profile/?id=mickey">
        <img src='/profile/mickey/profile.png' alt="Profile Image" >
        </a>

        <a href="/profile/?id=myprofile">
        <img src="/profile/myprofile/profile.png" alt="Profile Image" >
        </a>

        <a href="/profile/?id=teddy">
        <img src='/profile/teddy/profile.png' alt="Profile Image" >
        </a>
 </div>
</div>




<!-- Footer -->
<footer>Zefat Academic College</footer>
</div>

</body>
</html>
