<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/profile.css">

    <title>Profile: <%= id %></title>
</head>
<body>
  <div class="content-layer">
  <div class="banner" style="background: url('/profile/<%= id %>/banner.png') center/cover no-repeat;">
    <div class="banner">
        <div>
            <img id="profileImg" src="/profile/<%= id %>/profile.png" alt="Profile Image">
        </div>
    </div>
  </div>



<!-- Profile Section -->
<div class="info-section">
  <div class="info-title">
  <div class="container">
  <div class="info-content left-div">
    <div class="section">
      <br>
      <p><br><%= title %></br></p>
    </br>
    
    
      <%= bio %> 
    </div>
    
  
  <div class=" right-div">
      <img src="/profile/<%= id %>/image1.png" alt="Profile Image">
  </div>
</div>
</div>
  </div>
</div>
  
  
  

 <!-- Endorsement Section -->
 <div class=" endorsement-section ">
  <div class=" display-flex margin-around ">
           <!-- Left Side (Profile 2 Image) -->
      <div class="center-in-div left-div ">
          <img src="/profile/<%= id %>/image2.png" alt="Profile 2 Image" />
      </div>
       <!-- Right Side (Endorsements) -->
      <div class=" right-div">
      <div class="quote">
          <h2>ENDORSEMENTS</h2>
      </div>

      <div class="quote">
        
          <p>
            
        <% texts.forEach(function(text) { %>
          <div class="white-box"> <div class="quote"> <p><br><%= text %></br></p> </div> </div>
        <% }); %> </p>
        </div>
      </div>
      </div>
  </div>
 </div>
  </div>
  
    

</div>
<!-- Footer -->
<footer>Zefat Academic College</footer>
</div>

</body>
</html>
